<!DOCTYPE html>
<head>
    <title>Lab</title>
</head>
<body>
    <h1>LABS</h1>
    <form>
        <label for="patients_name_and_id">Patients Name and ID</label>
        <input id="patients_name_and_id" type="text" />
        <br>

        <label for="date_specimen_received">Date Specimen Received</label>
        <input id="date_specimen_received " type="date" required/>
        <br>

        <label for="received_by">Received By</label>
        <input id="received_by" type="text" required/>
        <br>

        <label for="lab_registration_number">Lab Registration Number</label>
        <input id="lab_registration_number" type="text" required/>
        <br>


        <h2 id="msr">Smear Microscopy Result</h2>

        <h3 id="result_1">Result 1</h3>


        <label for="result_1-no_afb_seen">No AFB seen</label>
        <input id="result_1-no_afb_seen" type="radio" value="no_afb_seen" />
        <br>

        <label for="result_1-scanty">Scanty</label>
        <input id="result_1-scanty" type="radio" value="scanty" />
        <br>

        <label for="result_1-1_plus">1+</label>
        <input id="result_1-1_plus" type="radio" value="1+" />
        <br>

        <label for="result_1-2_plus">2+</label>
        <input id="result_1-2_plus" type="radio" value="2+" />
        <br>

        <label for="result_1-3_plus">3+</label>
        <input id="result_1-3_plus" type="radio" value="3+" />
        <br>

        <label for="result_1-tb_lamp_positive">TB LAMP - Positive </label>
        <input id="result_1-tb_lamp_positive" type="radio" value="tb_lamp_positive"/>
        <br>

        <label for="result_1-tb_lamp_negative">TB LAMP - Negative </label>
        <input id="result_1-tb_lamp_negative" type="radio" value="tb_lamp_negative" />
        <br>

        <label for="result_1-not_done">Not Done</label>
        <input id="result_1-not_done" type="radio" checked value="not_done" />
        <br>


        <h3 id="result_2">Result 2</h3>


        <label for="result_2-no_afb_seen">No AFB seen</label>
        <input id="result_2-no_afb_seen" type="radio" value="no_afb_seen" />
        <br>

        <label for="result_2-scanty">Scanty</label>
        <input id="result_2-scanty" type="radio" value="scanty" />
        <br>

        <label for="result_2-1_plus">1+</label>
        <input id="result_2-1_plus" type="radio" value="1+" />
        <br>

        <label for="result_2-2_plus">2+</label>
        <input id="result_2-2_plus" type="radio" value="2+" />
        <br>

        <label for="result_2-3_plus">3+</label>
        <input id="result_2-3_plus" type="radio" value="3+" />
        <br>

        <label for="result_2-tb_lamp_positive">TB LAMP - Positive </label>
        <input id="result_2-tb_lamp_positive" type="radio" value ="tb_lamp_positive" />
        <br>

        <label for="result_2-tb_lamp_negative">TB LAMP - Negative </label>
        <input id="result_2-tb_lamp_negative" type="radio" value ="tb_lamp_negative" />
        <br>

        <label for="result_2-not_done">Not Done</label>
        <input id="result_2-not_done" type="radio" checked value="not_done" />
        <br>

        <label for="result_2-date">Date</label>
        <input id="result_2-date" type="date" value="current date and time" />
        <br>

        <label for="result_2-done_by">Done By</label>
        <input id="result_2-done_by" type="text" value=""/>
        <br>

        <h2 id="xpert_mtb_rif_assay">Xpert MTB/RIF Assay</h2>
        <h3 id="mtb_result">MTB Result</h3>


        <label for="mtb-result-detected">Detected</label>
        <input id="mtb-result-detected" type="radio" value="detected"/>
        <br>

        <label for="mtb-result-trace">Trace</label>
        <input id="mtb-result-trace" type="radio" value="trace" />
        <br>

        <label for="mtb-result-detected">Not Detected</label>
        <input id="mtb-result-not_detected" type="radio" value="not_detected" />
        <br>

        <label for="mtb-result-error_invalid">Error/Invalid</label>
        <input id="mtb-result-error_invalid" type="radio" value="error_invalid" />
        <br>

        <label for="mtb-result-not_done">Not Done</label>
        <input id="mtb-result-not_done" type="radio"  value="not_done" checked />
        <br>


        <h2 id="grades">Grades</h2>

        <label for="grades-high">High</label>
        <input id="grades-high" type="radio" value="high" />
        <br>

        <label for="grades-medium">Medium</label>
        <input id="grades-medium" type="radio" value="medium" />
        <br>

        <label for="grades-low">Low</label>
        <input id="grades-low" type="radio" value="low" />
        <br>

        <label for="grades-very_low">Very Low</label>
        <input id="grades-very_low" type="radio" value ="very_low" />
        <br>

        <label for="grades-n_a"> N_A</label>
        <input id="grades-n_a" type = "hidden" value="" checked/>
        <br>

        <h2 id="rif_result"></h2>

        <label for="rif-result-detected">Detected</label>
        <input id="rif-result-detected" type="radio" value="detected" />
        <br>

        <label for="rif-result-indeterminate">Intermediate</label>
        <input id="rif-result-indeterminate" type="radio" value="intermediate" />
        <br>

        <label for="rif-result-not_detected ">Not Detected</label>
        <input id="rif-result-not_detected " type="radio" value="not_detected" />
        <br>

        <label for="rif-result-not_done">Not Done</label>
        <input id="rif-result-not_done" type="radio" value="not_done" checked/>
        <br>

        <label for="rif-result-date">Date</label>
        <input id="rif-result-date" type="date" value="current date and time"/>
        <br>

        <label for="rif-result-done_by">Done By</label>
        <input id="rif-result-done_by" type="text" value="" />
        <br>



        <h2 id="urine_lf_lam">Urine LF-LAM</h2>


        <label for="urine_lf_lam-negative">Negative</label>
        <input id="urine_lf_lam-negative" type="radio" value="negative" />
        <br>

        <label for="urine_lf_lam-positive">Positive</label>
        <input id="urine_lf_lam-positive" type="radio" value= "positive" />
        <br>

        <label for="urine_lf_lam-error_invalid">error_invalid</label>
        <input id="urine_lf_lam-error_invalid" type="radio"  value="error_invalid" />
        <br>

        <label for="urine_lf_lam-not_done">Not Done</label>
        <input id="urine_lf_lam-not_done" type="radio" value="not_done" checked />
        <br>


        <label for="urine_lf_lam-date">Date</label>
        <input id="urine_lf_lam-date" type="date" value="current date and time" />
        <br>

        <label for="urine_lf_lam-done_by">Done By</label>
        <input id="urine_lf_lam-done_by" type="text" value="" />
        <br>


    </form>
</body>